.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/Landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.enter-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.enter-button:hover {
  background-color: #0056b3;
}

  
  